<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- msg -->
        <h1><%= text %></h1>
        <h1><%= password %></h1>

        <h1><%= crypted_text %></h1>

        <h1><%= decrypted_text %></h1>
        
    </body>
</html>