<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- msg -->
        <h1><%= text %></h1>
        <form action="/encrypt">
            <button type="submit">
                Decrypt
            </button>
        </form>
        <h1><%= text2 %></h1>
        
    </body>
</html>