<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/encrypt" method="">
            <input type="text" name="text">
            <input type="password" name="password">
            <button type="submit" name="button">
                Submit
            </button>
        </form>
    </body>
</html>